@use "base";

body {
  div.background-img {
    background: no-repeat url(../../assets/crew/background-crew-desktop.jpg)
      center/cover fixed;
    @media (max-width: base.$lg) {
      background: no-repeat url(../../assets/crew/background-crew-tablet.jpg)
        center/cover fixed;
    }
    @media (max-width: base.$sm) {
      background: no-repeat url(../../assets/crew/background-crew-mobile.jpg)
        center/cover fixed;
    }
  }
}

main {
  padding: base.$spacing-600 base.$spacing-600;
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: base.rem(1110);
  @media (max-width: base.$lg) {
    padding: base.$spacing-500;
    align-items: stretch;
    max-width: none;
  }
  header {
    display: flex;
    align-items: center;
    gap: base.$spacing-300;
    margin-bottom: base.$spacing-300;
    @media (max-width: base.$sm) {
      justify-content: center;
    }
    span {
      color: base.$white;
      font-family: base.$font-tertiary;
      font-size: base.rem(28);
      font-weight: 700;
      letter-spacing: base.rem(4.725);
      opacity: 0.25;
      @media (max-width: base.$lg) {
        font-size: base.rem(20);
      }
      @media (max-width: base.$sm) {
        font-size: base.rem(16);
      }
    }
    p {
      @include base.text-preset-5;
    }
  }
  > div {
    flex: 1;
    display: flex;
    gap: base.$spacing-400;
    @media (max-width: base.$lg) {
      flex-direction: column;
      align-items: center;
      gap: base.$spacing-400;
      text-align: center;
    }
    div.crew-content {
      max-width: base.rem(640);
      display: flex;
      flex-direction: column;
      @media (max-width: base.$lg) {
        max-width: base.rem(512);
        align-items: center;
        gap: base.$spacing-300;
        padding-top: base.$spacing-500;
      }
      div {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        span {
          @include base.text-preset-4;
          display: block;
          opacity: 0.5;
          margin-bottom: base.$spacing-200;
        }
        h1 {
          @include base.text-preset-3;
          margin-bottom: base.$spacing-300;
        }
        p {
          @include base.text-preset-9;
          @media (max-width: base.$lg) {
          }
        }
      }
      nav {
        ul {
          list-style: none;
          display: flex;
          gap: base.$spacing-500;
          margin-bottom: base.$spacing-600;
          @media (max-width: base.$lg) {
            gap: base.$spacing-200;
            margin-bottom: 0;
          }
          li {
            button {
              width: base.rem(15);
              height: base.rem(15);
              border-radius: 50%;
              background-color: rgba(base.$white, 0.175);
              transition: background-color 800ms ease;
              &:hover {
                background-color: rgba(base.$white, 0.5);
              }
              &.is-active {
                background-color: white;
              }
              @media (max-width: base.$lg) {
                width: base.rem(10);
                height: base.rem(10);
              }
            }
          }
        }
      }
    }
    div.crew-img-wrapper {
      flex: none;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: base.rem(539);
      height: 65vh;
      @media (max-width: base.$lg) {
        max-width: base.rem(390);
        height: auto;
      }
      @media (max-width: base.$sm) {
        max-width: base.rem(270);
      }
      div.img-overlay {
        position: absolute;
        z-index: 1;
        inset: 0;
        background: linear-gradient(
          180deg,
          transparent 80%,
          base.$blue-900 98%
        );
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
